@model Animal

<link rel="stylesheet" href="~/styles/scrollTable.css" />

<h3 class="text-center">@Model.Name</h3>

<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table border border-dark">
                <tbody>
                    <tr>
                        <th scope="row" class="col-2">Age</th>
                        <td class="col-10">@Model.Age</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-2">Description</th>
                        <td class="col-10">@Model.Description</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-2">Category</th>
                        <td class="col-10">@Model.Category!.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4 border border-dark table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model.Comments!)
                    {
                        <tr>
                            <td>@comment.CommentText</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-1">
            <img src="@Model.ImagePath" asp-append-version="true" width="350" height="300" />
        </div>

        <div class="col-md offset-md-7">
            <form method="post" asp-action="AddNewComment" asp-route-animalId="@Model.Id">
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Write a comment</span>
                    </div>
                    <textarea name="commentText" class="form-control" aria-label="new comment"></textarea>
                </div>

                <div class="row justify-content-end">
                <span asp-validation-for="Comments!.First().CommentText" class="text-danger col-md offset-4"></span>
                    <div class="col-2">
                        <button type="submit" class="btn btn-warning mt-2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
                }