@using PetShopWeb.Models
@model Animal

<h3 class="text-center">@Model.Name</h3>

<div class="container">
    <div class="row">
        <div class="col-8 border border-primary">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row" class="col-2">Age</th>
                        <td class="col-10">@Model.Age</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-2">Description</th>
                        <td class="col-10">@Model.Description</td>
                    </tr>
                    <tr>
                        <th scope="row" class="col-2">Category</th>
                        <td class="col-10">@Model.Category!.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4 border border-primary">
            <table class="table table-bordered table-striped mb-0">
                <thead>
                    <tr>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model.Comments!)
                    {
                        <tr>
                            <td>@comment.CommentText</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <form method="post" asp-action="AddNewComment" asp-route-animalId = "@Model.Id">
                <div class="form-group">
                    <input class="form-text" name="commentText"/>
                    @*<span asp-validation-for="@ViewBag.ErrorForComment"></span>*@
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
                }