@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "RolesManager";
}

<div class="container">

    <h1>Roles Manager</h1>

    @if (Model.Any())
    {
        <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole">Add new role</a>

        foreach (var role in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    Role Id : @role.Id
                </div>

                <div class="card-body">
                    <h5 class="card-title">@role.Name</h5>
                </div>

                <div class="card-footer">
                    <form method="post" asp-action="DeleteRole" asp-route-id="@role.Id">
                        <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-warning">Edit</a>
                        <span style="display:none" id="confirmDeleteSpan_@role.Id">
                            <span>Are you sure you want to delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
                        </span>
                        <span id="deleteSpan_@role.Id">
                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Delete</a>
                        </span>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row card">
            <div class="card-header">
                No roles has been created yet.
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a role
                </h5>
                <a class="btn btn-primary" style="width:auto" asp-action="CreateRole">
                    Create Role
                </a>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/scripts/confirmUserDeletion.js"></script>
}